.main__content-left{
    background-color: var(--clr-gray2);
    padding: 2rem 1.5rem 1rem;
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color: transparent;


    .left__header-title{
        display: flex;
        justify-content: space-between;
        gap: 1.2rem;
        align-items: center;

        button{
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;

            .icon{
                font-size: 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }

    .find__repo{
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--clr-gray1);
        margin-top: 0.8rem;
        background-color: var(--clr-gray2);
    }



    .left__newrepo-btn{
        background-color: var(--clr-green);
        padding: 0.5rem;
        color: var(--clr-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content__left-repolinks{
        display: flex;
        flex-flow: column;
        gap: 1rem;
        margin-top: 1.2rem;

        .repo__links{
            display: flex;
            align-items: center;
            gap: 0.7rem;
        cursor: pointer;

        }
    }

    .show__more{
        margin-top: 1.5rem;
        color: var(--clr-gray1);
        cursor: pointer;
    }


}


/*======= Hide scrollbar for Chrome, Safari and Opera ====*/
.main__content-left::-webkit-scrollbar{
    display: none;

}


/*======= Hide scrollbar for IE, Edge and Firefox ====*/
.main__content-left{
    -ms-text-overflow: none;
    text-overflow: none;
    scrollbar-width: none;
}